.header{
    text-align: center;
}
.menu{
    text-align: center;
}
.ayakkabilar{
    text-align: center;
}
.ayakkabilar2{
    text-align: center;
}
h1{
color: orangered;
}
h2{
    color: orchid;
}
h3{
    color: orange;
}